<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>{{ title|title() }}</title>  
    {% block head %}{% endblock %}

</head>
<body>
{% if cameraStatus %}
    {% set camStatus = 'Camera On' %}
    {% set camOption = 'Power Off' %}
    {% set pathOption = '/off/' %}
{% else %}
    {% set camStatus = 'Camera Off' %}
    {% set camOption = 'Power On' %}
    {% set pathOption = '/on/' %}
{% endif %}
    
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ title|title() }}</a>
        </div>
        <ul class="nav navbar-nav">
            {% set active_page = active_page|default('home') -%}
            
            {% for href,id in links|reverse() %}
            
            <li {% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ id |title()}}</a></li>
            {% endfor %}
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ camStatus }}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="{{ pathOption|e }}">{{ camOption }}</a></li>
                    </ul>
            </li>
        </ul>
    </div>
</nav>
    
<div class="container">
    {% block content %}{% endblock %}
</div>
    

</body>
</html>
